
  {% extends 'layout.html' %}
  {% block content %}
        <div class="container col-md-5 mt-5">
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('login') }}" method="POST">
                        <p class="text-danger">{{error}}</p>
                        <fieldset class="form-group">
                            <label>Tài Khoản</label> <input type="text" class="form-control" id="username" name="username" required="required">
                        </fieldset>

                        <fieldset class="form-group">
                            <label>Mật Khẩu</label> <input type="password" class="form-control" name = "password" id="passwordname="passwordrequired="required">
                        </fieldset>
                        <a href = "register">Đăng ký tài khoản</a>
                    </br>
                        <button id="btnlogin" type="submit" class="btn btn-success">Đăng Nhập</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}