{% extends 'layout.html' %}
{% block content %}
<div class="main d-flex container mt-5  ">

    <table class="table bg-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên</th>
            <th scope="col">Điểm</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
</div>

{% endblock %}